#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* .react-transform-wrapper {
  width: 100vw;
  height: auto;
}

.react-transform-component {
  width: 100vw;
  height: auto;
} */

